html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    background-color: #191919;

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 7px;
        color: #606060;
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    li a {
        text-decoration: none;
        color: inherit;
    }

    li a:hover {
        color: white;
        transition-duration: 0.3s;
    }


    nav {
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 20px;
        }

        h1 {
            color: #606060;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    .rowList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
        max-width: 50%;
        margin : 0 auto;
    }

    .researchBar {
        margin: 10px;

        .searchInput {
            padding: 10px;
            border-radius: 50px;
            background-color: #222222;
            color: white;
            font-weight: bold;
        }
    }
}



/* MAIN */
.content {
    height: 85vh;
    display: flex;
    flex-direction: row;
    background-image: url('C:/Users/Rekkl/OneDrive/Documents/code_base/integration/1/Standard Interface/background.jpg');
    background-size: cover;
}

.majorTitle {
    font-size: 100px;
    padding: 0;
    padding-right: 10px;
    margin-top: 200px;
    margin-left: 400px;
    text-align: left;
    color: #EEEEEE;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    border-right: 2px solid #EEEEEE;
    padding-bottom: 0;
    margin-bottom: 200px;
}

.secondTitle {
    margin-right: 400px;
    margin-top: 255px;
    padding-left: 50px;
    font-size: 70px;
    text-align: right;
    text-decoration: underline;
    color: #B4B4B4;
    font-style: italic;
}

/* Carroussel */
.galerieCarroussel {
    background-color: #191919;
    padding: 10px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: 300px;

    .carrouselDiv {
        grid-column-start: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .carrousselText {
            color:  #EEEEEE;
            font-weight: bold;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .carrousselImage {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                width: 266px;
                height: 224px;
            }

            .mooveButton {
                background-color: rgba(0, 0, 0, 0.2);
                color: white;
                font-weight: bold;
                font-size: 20px;
                width: 30px;
                height: 30px;
                z-index: 1;
                align-items: center;
                cursor: pointer;
            }
        }
    }
}

/*Footer*/

footer {
    text-align: center;

    .footerText {
        color: #B4B4B4;
        font-size: 11px;
        font-weight: bold;
    }
}

